@page "/Home/Chat/{userId}/{chatToId}"

@using MyProject.Context
@using MyProject.Model;
@using Microsoft.AspNetCore.Http @*For retrieving client ID*@
@using Microsoft.AspNetCore.Identity @*For retrieving client ID*@
@using Microsoft.AspNetCore.Components.Authorization @*Page only accessible by those authorized*@
@inherits LayoutComponentBase

@inject PostProvider postProvider
@inject PostCommentProvider postCommentProvider
@inject UserManager<User> userManager
@inject ChatProvider chatProvider
@inject IHttpContextAccessor httpContextAccessor

<div class="card shadow-lg border-0 mt-4" style="background-color: #343a40; color: white;">
    
    <div class="card-header bg-secondary text-white">
        <i class="fa-solid fa-message"></i> 
        @chatToNameObj.UserName
    </div>

    @if (newChat)
    {
        <div class="card-body">
            <div>
                <p class="card-text text-muted" style="color: #adb5bd !important;">No messages yet. Start a conversation!</p>
            </div>
        </div>
    }

    <div class="card-footer">
        <EditForm Model="@chatObj" OnValidSubmit="@SendMessage">
            <div class="d-flex">
                <input type="text" class="form-control me-2" @bind="chatObj.Message"
                           placeholder="Type your message here..." />
                <button type="submit" class="btn btn-primary w-25">
                    <i class="far fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    public User userNameObj = new User();
    public User chatToNameObj = new User();
    public User UserObj = new User();
    private MyProject.Model.Chat chatObj = new MyProject.Model.Chat();

    private List<MyProject.Model.Chat> chatMessages;


    private bool newChat = true;

    [Parameter]
    public string userId { get; set; }

    [Parameter]
    public string chatToId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        userNameObj = await userManager.FindByIdAsync(userId);
        chatToNameObj = await userManager.FindByIdAsync(chatToId);

        chatMessages = await chatProvider.RetrieveTextsOrdered(userNameObj, chatToNameObj);

        if (chatMessages != null)
        {
            newChat = false;
        }

        var context = httpContextAccessor.HttpContext; //instead of making multiple requests, make one request

        if (context != null && context.User.Identity != null && context.User.Identity.IsAuthenticated)
        {
            var currentUser = await userManager.GetUserAsync(context.User); //userManager is responsible for information based on a user, getuserasync retrives information basied off of context.User as it represents the authenticated user

            if (currentUser != null)
            {
                UserObj = currentUser;
            }
        }
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(chatObj.Message))
        {
            return;
        }



        chatObj = new MyProject.Model.Chat();

        newChat = false;
    }

}